body{
	background-color:#F0F1F7  ;
	font-family: 'Oswald', sans-serif;
	color: #000;
	padding-left: 0;
	margin: 20px;
	margin-left: 0px;
}
.container1{
	background-color: #CFD6DA;
	box-sizing: border-box;
	width: 30%;
	overflow: hidden;
	margin-left: 0px;
	float: left;
	text-align: center;
	height: 1000px;
	border-radius: 0px 75px 0px 0px;

}
.pic{
	height: 50%;
	width: 50%;
	background-repeat: no-repeat;
	margin-top: 10%;
	border-radius: 100%;
}
.name{
	margin-top: 0;
}
ul{
	padding-left: 0;
	list-style: none;	
	margin-top: 0;
}
h3{
	margin-bottom: 0;
	padding-bottom: 0;
}
.container2{
	background-color: #F0F1F7;
	box-sizing: border-box;
	width: 69%;
	padding: 10px;
	float: right;
	margin-top: 10px;
	text-align: center;
}
.container3{
	background-color: #F0F1F7;
	box-sizing: border-box;
	float: right;
	width: 69%;
	padding: 10px;
	text-align: center;
	}

	.heading{
		color: #209B7B;
	}